@(data: ch.insign.cms.blocks.errorblock.ErrorPage)

@import views.html.main
@import ch.insign.playauth.views.helper._
@import blocks.errorblock.DefaultErrorPage
@import ch.insign.cms.permissions.ErrorPagePermission
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.CollectionBlock

@main(page = data) {
    @Template.addBlockToSlot(classOf[CollectionBlock], data, DefaultErrorPage.COLLECTION_SLOT).render()
    <div class="row">
        <div class="col-md-12">
            <div class=error-section">
                <h2>@data.getPageTitle</h2>
            </div>
        </div>
    </div>

    @hasPermission(ErrorPagePermission.READ_MESSAGE(data)) {
        <div class="row">
            <div class="col-md-12">
                <h2>@Messages("error.id", data.getErrorId)</h2>
                <div class="alert alert-danger">
                    @Messages("error.message", data.getErrorMsg)
                </div>
            </div>
        </div>
    }

}
