@import play.api.i18n.Messages
@import views.html.metronic._
@import helper._
@import ch.insign.playauth.party.ISOGender
@import ch.insign.cms.views.html.helpers.imageUploadMstring
@import ch.insign.cms.models.CMS

@(userForm: Form[_])


@partyNameExtension={
    <div class="form-group">
        @inputText(
            userForm("firstName"),
            'class -> "form-control",
            'placeholder -> Messages("backend.user.firstName"),
            'maxlength -> "25",
            '_label -> Messages("backend.user.firstName")
        )
    </div>

    <div class="form-group">
        @inputText(
            userForm("lastName"),
            'class -> "form-control",
            'placeholder -> Messages("backend.user.lastName"),
            'maxlength -> "30",
            '_label -> Messages("backend.user.lastName")
        )
    </div>
}

@languages = @{
    CMS.getConfig().frontendLanguages().toSeq.map(v => (v, v))
}
@ch.insign.cms.views.html.admin.party.createForm(userForm, partyNameExtenstion = partyNameExtension) {

    <div class="form-group">
        @metronic.select(
            userForm,
            "gender",
            Messages("backend.user.gender"),
            Seq(ISOGender.MALE, ISOGender.FEMALE).map((gender) => (gender.name, Messages("backend.user.gender.label." + gender)))
        )
    </div>

    <div class="form-group profile">
        @helper.input(
            userForm("phone"),
            'id -> "phone",
            'name -> "phone",
            'pattern -> "^\\d{6,11}$",
            'class -> "form-control",
            'maxlength -> "11",
            'placeholder -> Messages("backend.user.phone"),
            '_label -> Messages("backend.user.phone")
        ){ (id, name, value, args) =>
            <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) />
            <p>@Messages("user.register.phone.hint")</p>
        }
    </div>

    <div class="form-group">
        @metronic.select(
            userForm,
            "language",
            Messages("backend.user.language"),
            languages
        )
    </div>

    <div class="form-group">
    @helper.input(
        userForm("image"),
        'id -> "image",
        'name -> "image",
        'class -> "form-control",
        '_label -> Messages("backend.user.image"),
        'placeholder -> ""
    ) { (id, name, value, args) =>
        <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) style="width: 300px;display:inline;" />
        <a class="btn btn-primary image-upload" href="#"> Browse </a>
    }
    </div>
}
