@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import ch.insign.playauth.views.helper._
@import views.html.tags._
@import crud.data.entity.{Brand, Car}
@import crud.permission.CarPermission
@import crud.util.Paginate
@import crud.views.helper.VavrToScala._
@import crud.views.html.helper.pagination

@(pages: Paginate[Car], pageNumber: Int, brands: List[Brand], groupBrandId: Long, searchTerm: String)

@deleteModal(item: Car)= {
    <div id="confirm-delete-@item.getId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">@Messages("example.crud.car.delete.modal.title")</h4>
        </div>
        <div class="modal-body">
            <p>@Messages("example.crud.car.delete.modal.content", item.getModel)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.btn.cancel")</button>
            <a href="@crud.controller.routes.CarController.delete(item.getId)" class="btn red">@Messages("modal.btn.delete")</a>
        </div>
    </div>
}

@groupByBrand() = {
    <div class="form-group row">
        <label for="groupBrand" class="control-label col-md-3">@Messages("example.crud.car.groupBrand.label"):</label>
        <select id="groupBrand" name="groupBrand" size="1" class="form-control input-medium col-md-9">
            <option value="" data-url="@crud.controller.routes.CarController.list(1, pages.getPageSize, 0, searchTerm)">
            @Messages("example.crud.car.groupBrand.default")
            </option>
            @brands.map { b =>
                <option @if(b.getId == groupBrandId) {
                    selected="selected"
                } value="@b.getId" data-url="@crud.controller.routes.CarController.list(1, pages.getPageSize, b.getId, searchTerm)">
                    @b.getTitle
                </option>
            }
        </select>
    </div>
}

@selectRow() = {
    @if(!pages.getPage(pageNumber).isEmpty) {
        <div class="pull-right">
            <label>
                <select id="selectRowValue" name="selectRowValue" size="1" class="form-control input-small">
                @crud.util.Paginate.PAGE_SIZE_LIST.asJava.map { selectedValue =>
                    <option @if(selectedValue == pages.getPageSize) { selected="selected" }
                        value="@selectedValue"
                        data-url="@crud.controller.routes.CarController.list(1, selectedValue, groupBrandId, searchTerm)">
                        @selectedValue
                    </option>
                }
                </select>
            </label>
        </div>
    }
}

@script() = {
    <script src="@_asset("javascripts/example-crud.js")"></script>
}

@defining(new AdminContext) { ctx =>
    @layout(ctx, pageFooter = script) {
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>@Messages("example.crud.car.list.title")
                </div>
                <div class="actions">
                    <a href="@crud.controller.routes.CarController.add" class="btn red">
                        <i class="icon-plus"></i> @Messages("backend.newEntry.button")
                    </a>

                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-4 col-sm-12">@groupByBrand</div>
                    <div class="col-md-5 col-sm-12">
                        <div class="row">
                            <div class="col-md-6">
                            @helper.form(crud.controller.routes.CarController.list(), 'id -> "crudSearchForm", 'class -> "form-horizontal", 'method -> "GET") {
                                <div class="input-group">
                                    <input type="hidden" name="page" class="form-control" value="1" />
                                    <input type="hidden" name="itemsPerPage" class="form-control" value="@pages.getPageSize" />
                                    <input type="hidden" name="groupBrandId" class="form-control" value="@groupBrandId" />
                                    <input type="text" id="crudSearchTerm" name="searchTerm" class="form-control" value="@searchTerm" placeholder="@Messages("example.crud.car.search.hint")" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">@selectRow</div>
                </div>
                @pagination(pageNumber, pages.getPageInfo(pageNumber), crud.controller.routes.CarController.list(_, pages.getPageSize, groupBrandId, searchTerm))
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>@Messages("example.crud.car.id")</th>
                            <th>@Messages("example.crud.car.model")</th>
                            <th>@Messages("example.crud.car.brand")</th>
                            <th>@Messages("example.crud.car.registrationId")</th>
                            <th>@Messages("example.crud.car.price")</th>
                            <th>@Messages("example.crud.car.buyDate")</th>
                            <th>@Messages("example.crud.car.action")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @Option(pages.getPage(pageNumber)).filter(_.nonEmpty).map(_.asJava).map { cars =>
                        @cars.map { item =>
                            <tr>
                                <td>@item.getId</td>
                                <td>@item.getModel</td>
                                <td>@item.getBrand.asScala.map(_.getTitle).getOrElse(Messages("example.crud.car.no.brand"))</td>
                                <td>@item.getRegistrationId</td>
                                <td>@item.getPrice.asScala.map { price: java.math.BigDecimal =>
                                    @price
                                }.getOrElse("-")</td>
                                <td>@item.getBuyDate.asScala.map(dateTimeSwiss(_)).getOrElse("-")</td>
                                <td>
                                        @*
                                            Prevent unauthorized users edit items
                                            @see {href='https://confluence.insign.ch/display/PLAY/Play+Auth+-+View+Helpers}
                                        *@
                                        @hasPermission(CarPermission.EDIT(item)) {
                                            <a title="Bearbeiten" href="@crud.controller.routes.CarController.edit(item.getId)">
                                                <i class="fa fa-edit"></i>
                                            </a> &nbsp;
                                        }
                                        @hasPermission(CarPermission.DELETE(item)) {
                                            <a data-toggle="modal" title="Löschen" href="#confirm-delete-@item.getId">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        }
                                </td>
                            <tr>
                            @deleteModal(item)
                        }
                    }.getOrElse {
                        <tr><td colspan="7">@Messages("example.crud.car.no.result")</td></tr>
                    }
                    </tbody>
                </table>
                @pagination(pageNumber, pages.getPageInfo(pageNumber), crud.controller.routes.CarController.list(_, pages.getPageSize, groupBrandId, searchTerm))
            </div>
        </div>
    }
}
