@import ch.insign.cms.models.StandalonePage
@import data.form.RegisterUserForm
@import views.html.main
@import play.data.Form
@import b3.vertical.fieldConstructor
@import ch.insign.playauth.party.ISOGender
@import ch.insign.cms.models.CMS

@(page: StandalonePage, form: Form[RegisterUserForm])


@languages = @{
    CMS.getConfig().frontendLanguages().toSeq.map(v => (v, v))
}

@main(page) {
    <div class="row section">
        <div class="col-md-6 col-md-offset-3">
            <div class="section-header">
                <h3 class="section-title text-center">@Messages("user.register.new.title")</h3>
                <div class="spacer spacer-xs"></div>
            </div>

            @helper.form(controller.routes.UserController.doRegister, 'id -> "registerNewUser", 'autocomplete -> "off") {
                @b3.radio(
                    form("gender"),
                    Seq(ISOGender.MALE, ISOGender.FEMALE).map(v => (v.name(), Messages("user.gender." + v.name()))),
                    '_inline -> true,
                    '_required -> true
                )
                @b3.text(
                    form("firstName"),
                    '_label -> Messages("user.register.firstName"),
                    '_required -> true
                )
                @b3.text(
                    form("lastName"),
                    '_label -> Messages("user.register.lastName"),
                    '_required -> true
                )
                @b3.email(
                    form("email"),
                    '_label -> Messages("user.register.email"),
                    '_required -> true
                )
                @b3.tel(
                    form("phone"),
                    '_label -> Messages("user.register.phone"),
                    '_maxlength -> "11"
                )
                @b3.select(
                    form("language"),
                    options = languages,
                    '_label -> Messages("user.register.language"),
                    '_default -> Messages("user.register.language.select")
                )
                @b3.password(
                    form("password"),
                    '_label -> Messages("user.register.password"),
                    '_required -> true,
                    '_help -> Messages("auth.login.password.pattern.help")
                )
                @b3.password(
                    form("passwordRepeat"),
                    '_label -> Messages("user.register.passwordRepeat"),
                    '_required -> true,
                    'autocomplete -> "new-password"
                )
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control" style="width: 100%;" >@Messages("register.form.submit")</button>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="center-block feedback-section">
                <div class="spacer spacer-md"></div>
                <h2 class="text-center h5">@Html(Messages("user.register.support"))</h2>
                <div class="spacer spacer-md"></div>
            </div>
        </div>
    </div>
}
