@import ch.insign.cms.models.StandalonePage
@import play.data.Form
@import views.html.main
@import data.form.ResetPasswordForm

@(page: StandalonePage, resetPasswordForm: Form[ResetPasswordForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@main(page) {
    <h1>@Messages("user.password_reset.confirmation.title")</h1>

    @b3.form(controller.routes.UserController.doResetPassword) {

        @if(resetPasswordForm.hasGlobalErrors) {
            @b3.static() {
                <div class="error alert alert-danger">
                    @Html(resetPasswordForm.globalError.message)
                </div>
            }
        }

        @b3.hidden("token", resetPasswordForm("token").value())

        @b3.password(
            resetPasswordForm("password"),
            '_label -> Messages("user.register.password"),
            '_required -> true,
            '_help -> Messages("auth.login.password.pattern.help")
        )

        @b3.password(
            resetPasswordForm("passwordRepeat"),
            '_label -> Messages("user.register.passwordRepeat"),
            '_required -> true
        )

        @b3.submit('class -> "btn btn-primary"){
            @Messages("reset.password.btn.submit")
        }
    }
}
