@import ch.insign.cms.models.StandalonePage
@import views.html.main
@import play.data.Form
@import b3.vertical.fieldConstructor
@import ch.insign.cms.forms.MyIdentity

@(page: StandalonePage,form: Form[MyIdentity])

@main(page) {

    <div class="row section">
        <div class="col-md-4 col-md-offset-4">
            <div class="section-header">
                <h3 class="section-title text-center">@Messages("user.password_reset.title")</h3>
                <div class="spacer spacer-xs"></div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @helper.form(controller.routes.UserController.sendResetPasswordConfirmation()) {
                        @b3.email(
                            form("email"),
                            '_label -> Messages("password.reset.email"),
                            '_required -> true
                        )

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">@Messages("password.reset.send_email_button")</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
