@import (less) "lib/jquery-ui/themes/base/minified/jquery-ui.min.css";

@import "lib/font-awesome/less/font-awesome";
@fa-css-prefix:       fa fa;

@import (less) "lib/FlexSlider/flexslider.css";

@import "lib/bootstrap/less/bootstrap";
@icon-font-path: "/lib/bootstrap/fonts/";

@import (less) "lib/play-cms/frontend/css/sortable.css";
@import (less) "lib/play-cms/frontend/css/main.css";


@import (inline) "lib/play-cms/frontend/css/slider.css";

img {
  display: block;
  max-width: 100%;
  height: auto;
}


// Link more Less files like this
//@import "server/app/assets/stylesheets/XYZ";

// Your LESS code goes here

