@import ch.insign.cms.models.StandalonePage
@import views.html.main
@import play.data.Form
@import b3.vertical.fieldConstructor
@import data.form.EditPasswordForm
@import party.User

@(page: StandalonePage, form: Form[EditPasswordForm], user: User)

@main(page) {
    <div class="col-md-3">
        @views.html.account.partials.sidebar.render(user)
    </div>
    <div class="col-md-6">
        <div class="section-header">
            <h3 class="section-title"> <i class="glyphicon glyphicon-lock"></i> @Messages("account.dashboard.editPassword")</h3>
            <div class="spacer spacer-xs"></div>
        </div>

        @helper.form(controller.routes.AccountController.doEditPassword) {

            @b3.password(
                form("oldPassword"),
                '_label -> Messages("account.dashboard.editPassword.old"),
                '_required -> true
            )

            @b3.password(
                form("password"),
                '_label -> Messages("user.register.password"),
                '_required -> true,
                '_help -> Messages("auth.login.password.pattern.help")
            )

            @b3.password(
                form("passwordRepeat"),
                '_label -> Messages("user.register.passwordRepeat"),
                '_required -> true
            )

            <div class="form-group">
                <button type="submit" class="btn btn-primary"  >@Messages("account.dashboard.editPassword.submit")</button>
            </div>
        }
</div>
}
